---
import BaseHead from '../components/Head/BaseHead.astro';
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer/Footer.astro'

let title = 'How To Code';
let description = '';
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body class="bg-surface text-white font-body leading-normal personality-casual">
    <Nav />

    <main class="py-12 lg:py-20">
      <article class="max-w-6xl text-white mx-auto px-3 place-content-center">
        <header class="mx-auto max-w-3xl text-center content">
          <h1 class="mb-4">404</h1>
          <p>This page doesn't exist (at least anymore)</p>
        </header>
      </article>
    </main>
    <Footer />
  </body>
</html>
